* {
  box-sizing: border-box;
}

:root {
  --animation: translateY(20%);
  --box-color: 200deg;
  --worm-size: 50px;
}

@keyframes pulse {
  0% {
    transform: translate(0%, 0%);
  }
  50% {
    transform: var(--animation);
  }
  100% {
    transform: transform(0%, 0%);
  }
}

.worm {
  display: flex;
  margin: 0 auto;
  flex-direction: row;
}

.box {
  background-color: hsl(var(--box-color), 100%, 50%);
  width: var(--worm-size);
  max-height: 222px;
  display: grid;
  place-items: center;
  will-change: transform;
  height: var(--worm-size);
  max-width: 222px;
  transition: transform 300ms ease;
  user-select: none;
  animation: pulse 500ms infinite;
}

.n1 {
  display: flex;
}

.n2 {
  background-color: hsl(var(--box-color), 100%, 40%);
  animation-delay: 50ms;
  display: flex;
}

.n3 {
  background-color: hsl(var(--box-color), 100%, 30%);
  display: flex;
  justify-content: center;
  gap: calc(var(--worm-size) / 5);
  animation-delay: 200ms;
}

.n3 div {
  background-color: black;
  width: calc(var(--worm-size) / 3);
  height: calc(var(--worm-size) / 3);
  border-radius: 50%;
  max-width: 80px;
  max-height: 80px;
}

.menu {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

label {
  font-family: sans-serif;
}

.note {
  font-size: 10px
}

.warning {
	color: red;
	font-weight: 900;
}

button {
  font-size: 15px;
}

a {
  color: blue;
}
